<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

    	<add id="Revision_Module1::mysettings" title="My Settings" module="Revision_Module1" sortOrder="51" resource="Revision_Module1::mysettings"/>

		<add id="Revision_Module1::post" title="Manage Posts" module="Revision_Module1" sortOrder="10" resource="Revision_Module1::post" parent="Revision_Module1::mysettings" action="revision_module1/post/index"/>    	

		<add id="Revision_Module1::configuration" title="Configuration" module="Revision_Module1" sortOrder="99" resource="Revision_Module1::configuration" parent="Revision_Module1::mysettings" action="adminhtml/system_config/edit/section/module1"/>

    </menu>
</config>